body{
      background-image: url(/Images/NewYork.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
}


#clock-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    border: 10px solid;
    border-radius: 50px;
}

/* FOR LIGHTNING */
#clock-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#clock{
    font-family: monospace;
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}